.root{
    -fx-background-color: #00008B;
    -fx-alignment: center;
}

.label{
    -fx-font-family: "Tahoma";
    -fx-text-fill: cyan;
}

#loginText{
    -fx-font-family: "Tahoma";
    -fx-fill: cyan;
    -fx-stroke-width: 1px;
    -fx-stroke: black;
}

#donthaveanaccountText{
    -fx-font-family: "Tahoma";
    -fx-fill: cyan;
}

#errorLabel{
    -fx-text-fill: white;
}
