.root{
    -fx-background-color: #00008B;
    -fx-alignment: center;
}

.label{
    -fx-font-family: "Arial";
    -fx-text-fill: cyan;
}

#registerText{
    -fx-font-family: "Arial";
    -fx-fill: cyan;
    -fx-stroke-width: 2px;
    -fx-stroke: black;
}

#alreadyhaveanaccountText{
    -fx-font-family: "Arial";
    -fx-fill: cyan;
}